$primary: #c9151b;
$primary-secondary: #f5515f;
$primary-medium-light: #f6d5d5;
$primary-light: #fff2f1;
$primary-dark: #1d2531;
$primary-dark-secondary: #333e4f;
$primary-dark-medium-gray: #5a6577;
$primary-dark-gray: #9ca9be;
$placeholder: #d0d3d6;
$seperator: #e6e8eb;
$background: #f5f6f7;
$white: #fff;

$primaryFont: 'Noto Sans', sans-serif;

